<div class="row">
    <div class="col-sm-6 col-lg-3">
        <button type="button" class="btn btn-lg btn-primary"><div style="width:250px">موظفين جدد </div><div>@ViewBag.newEmployees</div></button>
    </div>
    <div class="col-sm-6 col-lg-3">
        <button type="button" class="btn btn-lg btn-primary"><div style="width:250px">موظفين تحت الاختبار</div><div>@ViewBag.probationaryStaff</div></button>
    </div>
    <div class="col-sm-6 col-lg-3">
        <button type="button" class="btn btn-lg btn-primary"><div style="width:250px">موظفين قائمين</div><div>@ViewBag.existingEmployees</div></button>
    </div>
    <div class="col-sm-6 col-lg-3">
        <button type="button" class="btn btn-lg btn-primary"><div style="width:250px">موظفين محاليين للمعاش</div><div>@ViewBag.localEmployeesForPension</div></button>
    </div>
</div>
